<html>

<head>
  <title>Flask HLS Live Streaming Server Example</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/hls.js@alpha"></script>

  <center>
    <h1>Flask HLS Live Streaming Server Example</h1>
    <video height="600" id="video" controls></video>
  </center>

  <script>
    var video = document.getElementById('video');
    if (Hls.isSupported()) {
      var hls = new Hls({
        debug: true,
      });
      hls.loadSource('http://127.0.0.1:5000/video/playlist.m3u8');
      hls.attachMedia(video);
      hls.on(Hls.Events.MEDIA_ATTACHED, function () {
        video.muted = true;
        video.play();
      });
    }
    // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
    // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element through the `src` property.
    // This is using the built-in support of the plain video element, without using hls.js.
    else if (video.canPlayType('application/vnd.apple.mpegurl')) {
      video.src = 'http://127.0.0.1:5000/video/playlist.m3u8';
      video.addEventListener('canplay', function () {
        video.play();
      });
    }
  </script>
  <!-- injected in netlify post processing step -->
  <div style="position: absolute; top: 5px; right: 5px;">
    <a rel="noopener" href="https://www.netlify.com" target="_blank"><img
        src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" /></a>
  </div>
</body>

</html>